.Cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width :90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    
    
}

.OffersTitle{
    font-family: Signika;
    font-size: 46px;
    font-weight: 700;
    line-height: 77.62px;
    text-align: center;
    text-decoration-skip-ink: none;

}
.Offer{
    margin-top:20px;
    min-height: 65vh;
}

