@font-face {
  font-family: 'SignikaMedium';
  src: url('../assets/fonts/Signika/static/Signika-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SignikaBold';
  src: url('../assets/fonts/Signika/static/Signika-Bold.ttf') format('truetype');
}




.Planning-container {
  margin: 5% auto;
  max-width: 75%;
  text-align: center;
  color: #1F1F1F;
}

.Planning-container h1 {
  font-size: 63px;
  color: #1F1F1F;
  margin-bottom: 24px;
  text-decoration: none;
  font-family: 'SignikaBold', sans-serif;
  text-align: center;

}



.schedule-table {
  width: 100%;
  border-collapse: collapse;
  font-family: SignikaMedium, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.schedule-table th {
  background-color: #FF2A00;
  color: white;
}

.schedule-table .Day{
  border: 0;
  background-color:white ;
}

.schedule-table td {
  height: 50px;
}


.schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tr:hover {
  background-color: #f1f1f1;
}
