
.popup-overlay {

  /* position: fixed; */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.close-button {
position: absolute;
top: 2px;
right: 11px;
background: transparent;
border: none;
font-size: 2vw !important;
cursor: pointer;
color: #333;
}



.logo1 {
  width: 400px !important; /* Largeur fixée à 100px */
  height: auto !important;  /* Hauteur automatique */
  object-fit: contain !important; /* Garantir que l'image ne soit pas déformée */

}

.close-button {
  font-size: 24px;
  cursor: pointer;
}


/* Form */
.offerform label {
  display: block;
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}
.offerform input[type="text"],
.offerform input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
}

.addoffer {
  color: #ffffff; /* Button text color */
  background-color: #000000; /* Button background color */
  border-radius: 15px; /* Border radius for rounded corners */
  padding: 8px 20px; /* Padding for button size */
  border: none; /* Remove default border */
  cursor: pointer ; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  font-size: 18px;
  font-weight: 600;
  font-family: Signika-SemiBold;
  max-height:40px ;
  background-color: #FF2A00 !important;
}



.addoffer:hover {
  color:#0c0c0c
}


.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  position: relative;           /*close button!!!!*/
}

.close-button:hover {
  color: #d32f2f;
}  

.div_addoffer{
  text-align: center;
  margin-top: 13%;
  margin-bottom:10% ;
}
.div_offerform{
  
  margin-top: 7%;
  display: flex;
  justify-content: space-between; /* Répartir les champs horizontalement */
  gap: 30px; /* Augmente l'espace entre les champs sur la même ligne */
  margin-bottom: 20px; /* Ajoute un espacement vertical entre les lignes */

}

.label{
  margin-bottom: 3%;
}
.form-group {
  flex: 1; /* Les champs prennent chacun 50% de l'espace */
}

.form-group label {
  font-size: 16px; /* Taille de police plus grande */
  color: #333; /* Texte en gris foncé */
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd; /* Bordures légères */
  border-radius: 10px; /* Coins arrondis */
  background-color: #f9f9f9; /* Fond légèrement gris */
}

.form-group input:focus,
.form-group select:focus {
  border: 1px solid #ff2a00; /* Bordure rouge en focus */
  outline: none;
  background-color: #fff;
}